/*

!.gitignore
!.config/cmus/autosave
!.config/cmus/cmus_update_songs.sh

!.config/dunst/

!.config/fish/config.fish
!.config/fish/fishfile
!.config/fish/starship.toml

!.config/i3/screen_layouts/
!.config/i3/workspace_layouts/
!.config/i3/scripts/
!.config/i3/config
!.config/i3/setup.sh

!.config/kitty/

!.config/nvim/init.vim
!.config/nvim/configs/
!.config/nvim/coc-extensions-list

!.config/polybar/

!.config/ranger/commands.py
!.config/ranger/rc.conf
!.config/ranger/rifle.conf

!.config/rofi/

!.config/zsh/

!.config/picom.conf

