[Unit]
Description=Python http server for firefox new tab page
After=network.target
StartLimitIntervalSec=5
StartLimitBurst=3

[Service]
Restart=on-failure
RestartSec=3
ExecStart=

[Install]
WantedBy=multi-user.target
